*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.navbar1{
    background-color: aquamarine;
    height: fit-content;

}
.navbar1 ul{
    justify-content: center;
    list-style: none;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}
.navbar1 ul li{
    text-decoration: none;
}
.navbar1 ul li a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
.navbar1 ul li a i{
    padding-right: 20px;
}